<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.mapper.MaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.model.MaterialDO">
        <id column="MaterialId" property="materialid" />
        <result column="MaterialName" property="materialname" />
        <result column="Unit" property="unit" />
        <result column="Price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MaterialId, MaterialName, Unit, Price
    </sql>

</mapper>
