<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.mapper.StepMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.model.StepDO">
        <id column="StepId" property="stepid" />
        <result column="CookBookId" property="cookbookid" />
        <result column="imgUrl" property="imgurl" />
        <result column="txt" property="txt" />
        <result column="Order" property="order" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        StepId, CookBookId, imgUrl, txt, Order
    </sql>

</mapper>
